---
layout: default
---

<!-- Masonry -->
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {

        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });

        //Click event to scroll to top
        $('#back-to-top').click(function(){
            $('html, body').animate({scrollTop : 0},800);
            return false;
        });

        //$(document).tooltip();

        if ($(window).width() > 767) {

            $('.grid-item').hide();
            $('.grid').imagesLoaded( function() {
                $('.grid-item').fadeIn();

                $('.grid').masonry({
                    itemSelector: '.grid-item',
                    columnWidth: '.grid-item',
                    gutter: 20,
                    percentPosition: true
                });
            });
        }

    });

    $(document).resize(function() {

        if ($(window).width() <= 767) {
            $('.grid').masonry( 'destroy' );
        } else {
            $('.grid').masonry({
                itemSelector: '.grid-item',
                columnWidth: '.grid-item',
                gutter: 20,
                percentPosition: true
            });
        }

    });
</script>



<!-- page start -->
<div class="row">
    <div class="grid">
        {% for post in site.posts %}

        <!-- post start -->
        <div class="grid-item">

            <!-- post thumbnail (optional) -->
            <div class="post-thumb">
                <!-- <img src="img/pic5.jpg" width="100%" height="auto" title="A useful blurb about this post" /> -->
            </div>

            <!-- post details -->
            <div class="post-summary" style="padding-bottom:40px;">
                <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                <small>{{ post.date | date: "%b %-d, %Y" }}</small>
                <small style="margin-top:8px;">{{ post.excerpt }}</small>
                <a href="{{ post.url | prepend: site.baseurl }}" title="Continue reading" class="btn btn-warning btn-fab btn-fab-mini pull-right"><i class="material-icons">more_horiz</i></a>
                <small>
                {% for tag in post.tags %}
                    <a href="/tags#{{tag}}">{{ tag }}</a>
                {% endfor %}
                </small>
            </div>

        </div>
        <!-- post end -->
        {% endfor %}

    </div>
</div>
<!-- page end -->
